alias reload='source ~/.bashrc;clear'
alias cw="cd $current_project_dir"
alias pw="echo $current_project"
alias ep="cd $HOME;reload"
alias profile='nano ~/.profile;reload'
alias alii='nano ~/.aliases;reload'
alias tokens='nano ~/.tokens;reload'
alias j='jobs'
alias k='kill -9'
alias scratch='cd /tmp'
alias workspace='cd $WORKSPACE; find . -type d -depth 1 -exec basename {} +'

alias branch='git branch'
alias push='git push'
alias rebase='pull;npm install;bower update;gulp'
alias fpush='git push --force'
alias merge='git merge'
alias cr='git rebase --continue'
alias ca='git rebase --abort'
alias checkout='git checkout'
alias co='git checkout'
alias fetch='git fetch'
alias status='git status'
alias newbranch='git newbranch'
alias nb='git nb'
alias newleaf='git newleaf'
alias update='pull;npm install; npm prune'
alias master='co master;pull;npm installl; npm prune'
alias bug='git bug'
alias feature='git feature'
alias refactor='git refactor'
alias currentbranch='git rev-parse --abbrev-ref HEAD'
alias cb='git rev-parse --abbrev-ref HEAD'
alias clone='cd $WORKSPACE;git clone $(pbpaste);cd `basename -s .git $(pbpaste)`;if [ -f .nvmrc ]; then nvm use; fi'

alias lint='npm run lint'
alias git-token='echo $GITHUB_TOKEN | pbcopy'

alias dockerenv='eval $(docker-machine env default)'
alias dockerip='docker-machine ip default'
alias dockerstart='docker-machine start default && dockerenv && dockerip'
alias killtests='(killall java || true)  && (killall node || true) && (pkill chromedriver || true)'

for f in `ls $HOME/workspace`
do
	alias $f="cd $HOME/workspace/$f;if [ -f .nvmrc ]; then nvm use --delete-prefix; fi"
done

alias projects="ls $HOME/workspace"
alias assumerole="source $HOME/scripts/assume_role"
